:root {
  --fuchsiafuchsia-50: rgba(254, 252, 254, 1);
  --fuchsiafuchsia-100: rgba(251, 244, 250, 1);
  --fuchsiafuchsia-200: rgba(246, 230, 244, 1);
  --fuchsiafuchsia-300: rgba(239, 210, 235, 1);
  --fuchsiafuchsia-400: rgba(230, 184, 224, 1);
  --fuchsiafuchsia-500: rgba(219, 153, 210, 1);
  --fuchsiafuchsia-600: rgba(206, 116, 194, 1);
  --fuchsiafuchsia-700: rgba(191, 74, 176, 1);
  --fuchsiafuchsia-800: rgba(108, 38, 99, 1);
  --fuchsiafuchsia-900: rgba(55, 19, 51, 1);
  --fuchsiafuchsia-950: rgba(38, 13, 34, 1);
  --blue-violetblue-violet-50: rgba(253, 252, 255, 1);
  --blue-violetblue-violet-100: rgba(246, 243, 254, 1);
  --blue-violetblue-violet-200: rgba(235, 228, 252, 1);
  --blue-violetblue-violet-300: rgba(220, 207, 250, 1);
  --blue-violetblue-violet-400: rgba(201, 179, 247, 1);
  --blue-violetblue-violet-500: rgba(177, 146, 244, 1);
  --blue-violetblue-violet-600: rgba(149, 107, 239, 1);
  --blue-violetblue-violet-700: rgba(116, 61, 235, 1);
  --blue-violetblue-violet-800: rgba(56, 15, 145, 1);
  --blue-violetblue-violet-900: rgba(27, 7, 71, 1);
  --blue-violetblue-violet-950: rgba(18, 5, 46, 1);
  --orangeorange-50: rgba(255, 253, 252, 1);
  --orangeorange-100: rgba(255, 248, 242, 1);
  --orangeorange-200: rgba(255, 239, 226, 1);
  --orangeorange-300: rgba(255, 227, 203, 1);
  --orangeorange-400: rgba(255, 211, 173, 1);
  --orangeorange-500: rgba(255, 192, 137, 1);
  --orangeorange-600: rgba(255, 170, 95, 1);
  --orangeorange-700: rgba(255, 143, 46, 1);
  --orangeorange-800: rgba(162, 76, 0, 1);
  --orangeorange-900: rgba(79, 37, 0, 1);
  --orangeorange-950: rgba(51, 24, 0, 1);
  --blackblack-50: rgba(250, 251, 253, 1);
  --blackblack-100: rgba(233, 238, 246, 1);
  --blackblack-200: rgba(206, 216, 235, 1);
  --blackblack-300: rgba(167, 185, 220, 1);
  --blackblack-400: rgba(118, 146, 200, 1);
  --blackblack-500: rgba(67, 100, 168, 1);
  --blackblack-600: rgba(39, 58, 97, 1);
  --blackblack-700: rgba(6, 9, 15, 1);
  --blackblack-800: rgba(3, 4, 6, 1);
  --blackblack-900: rgba(1, 1, 2, 1);
  --blackblack-950: rgba(0, 0, 0, 1);
  --whitewhite-50: rgba(255, 255, 255, 1);
  --whitewhite-100: rgba(255, 255, 255, 1);
  --whitewhite-200: rgba(255, 255, 255, 1);
  --whitewhite-300: rgba(255, 255, 255, 1);
  --whitewhite-400: rgba(255, 255, 255, 1);
  --whitewhite-500: rgba(255, 255, 255, 1);
  --whitewhite-600: rgba(255, 255, 255, 1);
  --whitewhite-700: rgba(255, 255, 255, 1);
  --whitewhite-800: rgba(128, 128, 128, 1);
  --whitewhite-900: rgba(51, 51, 51, 1);
  --whitewhite-950: rgba(26, 26, 26, 1);
  --electric-violet50: rgba(244, 244, 254, 1);
  --electric-violet100: rgba(237, 234, 253, 1);
  --electric-violet200: rgba(219, 216, 252, 1);
  --electric-violet300: rgba(193, 184, 250, 1);
  --electric-violet400: rgba(162, 144, 245, 1);
  --electric-violet500: rgba(132, 98, 240, 1);
  --electric-violet600: rgba(117, 69, 230, 1);
  --electric-violet700: rgba(99, 47, 210, 1);
  --electric-violet800: rgba(82, 39, 176, 1);
  --electric-violet900: rgba(69, 34, 144, 1);
  --electric-violet950: rgba(42, 20, 97, 1);
  --text-style-text-md-regular-font-family: "Inter", Helvetica;
  --text-style-text-md-regular-font-weight: 400;
  --text-style-text-md-regular-font-size: 16px;
  --text-style-text-md-regular-letter-spacing: 0px;
  --text-style-text-md-regular-line-height: 24px;
  --text-style-text-md-regular-font-style: normal;
  --text-style-text-md-medium-font-family: "Inter", Helvetica;
  --text-style-text-md-medium-font-weight: 500;
  --text-style-text-md-medium-font-size: 16px;
  --text-style-text-md-medium-letter-spacing: 0px;
  --text-style-text-md-medium-line-height: 24px;
  --text-style-text-md-medium-font-style: normal;
  --text-style-text-md-semibold-font-family: "Inter", Helvetica;
  --text-style-text-md-semibold-font-weight: 600;
  --text-style-text-md-semibold-font-size: 16px;
  --text-style-text-md-semibold-letter-spacing: 0px;
  --text-style-text-md-semibold-line-height: 24px;
  --text-style-text-md-semibold-font-style: normal;
  --text-style-text-md-bold-font-family: "Inter", Helvetica;
  --text-style-text-md-bold-font-weight: 700;
  --text-style-text-md-bold-font-size: 16px;
  --text-style-text-md-bold-letter-spacing: 0px;
  --text-style-text-md-bold-line-height: 24px;
  --text-style-text-md-bold-font-style: normal;
  --text-style-text-sm-medium-font-family: "Inter", Helvetica;
  --text-style-text-sm-medium-font-weight: 500;
  --text-style-text-sm-medium-font-size: 14px;
  --text-style-text-sm-medium-letter-spacing: 0px;
  --text-style-text-sm-medium-line-height: 20px;
  --text-style-text-sm-medium-font-style: normal;
  --text-style-text-sm-semibold-font-family: "Inter", Helvetica;
  --text-style-text-sm-semibold-font-weight: 600;
  --text-style-text-sm-semibold-font-size: 14px;
  --text-style-text-sm-semibold-letter-spacing: 0px;
  --text-style-text-sm-semibold-line-height: 20px;
  --text-style-text-sm-semibold-font-style: normal;
  --text-style-text-sm-bold-font-family: "Inter", Helvetica;
  --text-style-text-sm-bold-font-weight: 700;
  --text-style-text-sm-bold-font-size: 14px;
  --text-style-text-sm-bold-letter-spacing: 0px;
  --text-style-text-sm-bold-line-height: 20px;
  --text-style-text-sm-bold-font-style: normal;
  --text-style-text-sm-regular-font-family: "Inter", Helvetica;
  --text-style-text-sm-regular-font-weight: 400;
  --text-style-text-sm-regular-font-size: 14px;
  --text-style-text-sm-regular-letter-spacing: 0px;
  --text-style-text-sm-regular-line-height: 20px;
  --text-style-text-sm-regular-font-style: normal;
  --text-style-text-lg-regular-font-family: "Inter", Helvetica;
  --text-style-text-lg-regular-font-weight: 400;
  --text-style-text-lg-regular-font-size: 18px;
  --text-style-text-lg-regular-letter-spacing: 0px;
  --text-style-text-lg-regular-line-height: 28px;
  --text-style-text-lg-regular-font-style: normal;
  --text-style-text-lg-medium-font-family: "Inter", Helvetica;
  --text-style-text-lg-medium-font-weight: 500;
  --text-style-text-lg-medium-font-size: 18px;
  --text-style-text-lg-medium-letter-spacing: 0px;
  --text-style-text-lg-medium-line-height: 28px;
  --text-style-text-lg-medium-font-style: normal;
  --text-style-text-lg-semibold-font-family: "Inter", Helvetica;
  --text-style-text-lg-semibold-font-weight: 600;
  --text-style-text-lg-semibold-font-size: 18px;
  --text-style-text-lg-semibold-letter-spacing: 0px;
  --text-style-text-lg-semibold-line-height: 28px;
  --text-style-text-lg-semibold-font-style: normal;
  --text-style-text-lg-bold-font-family: "Inter", Helvetica;
  --text-style-text-lg-bold-font-weight: 700;
  --text-style-text-lg-bold-font-size: 18px;
  --text-style-text-lg-bold-letter-spacing: 0px;
  --text-style-text-lg-bold-line-height: 28px;
  --text-style-text-lg-bold-font-style: normal;
  --text-style-text-xl-regular-font-family: "Inter", Helvetica;
  --text-style-text-xl-regular-font-weight: 400;
  --text-style-text-xl-regular-font-size: 20px;
  --text-style-text-xl-regular-letter-spacing: 0px;
  --text-style-text-xl-regular-line-height: 30px;
  --text-style-text-xl-regular-font-style: normal;
  --text-style-text-xl-medium-font-family: "Inter", Helvetica;
  --text-style-text-xl-medium-font-weight: 500;
  --text-style-text-xl-medium-font-size: 20px;
  --text-style-text-xl-medium-letter-spacing: 0px;
  --text-style-text-xl-medium-line-height: 30px;
  --text-style-text-xl-medium-font-style: normal;
  --text-style-text-xl-semibold-font-family: "Inter", Helvetica;
  --text-style-text-xl-semibold-font-weight: 600;
  --text-style-text-xl-semibold-font-size: 20px;
  --text-style-text-xl-semibold-letter-spacing: 0px;
  --text-style-text-xl-semibold-line-height: 30px;
  --text-style-text-xl-semibold-font-style: normal;
  --text-style-text-xl-bold-font-family: "Inter", Helvetica;
  --text-style-text-xl-bold-font-weight: 700;
  --text-style-text-xl-bold-font-size: 20px;
  --text-style-text-xl-bold-letter-spacing: 0px;
  --text-style-text-xl-bold-line-height: 30px;
  --text-style-text-xl-bold-font-style: normal;
  --text-style-display-xs-regular-font-family: "Inter", Helvetica;
  --text-style-display-xs-regular-font-weight: 400;
  --text-style-display-xs-regular-font-size: 24px;
  --text-style-display-xs-regular-letter-spacing: 0px;
  --text-style-display-xs-regular-line-height: 32px;
  --text-style-display-xs-regular-font-style: normal;
  --text-style-display-xs-medium-font-family: "Inter", Helvetica;
  --text-style-display-xs-medium-font-weight: 500;
  --text-style-display-xs-medium-font-size: 24px;
  --text-style-display-xs-medium-letter-spacing: 0px;
  --text-style-display-xs-medium-line-height: 32px;
  --text-style-display-xs-medium-font-style: normal;
  --text-style-display-xs-semibold-font-family: "Inter", Helvetica;
  --text-style-display-xs-semibold-font-weight: 600;
  --text-style-display-xs-semibold-font-size: 24px;
  --text-style-display-xs-semibold-letter-spacing: 0px;
  --text-style-display-xs-semibold-line-height: 32px;
  --text-style-display-xs-semibold-font-style: normal;
  --text-style-display-xs-bold-font-family: "Inter", Helvetica;
  --text-style-display-xs-bold-font-weight: 700;
  --text-style-display-xs-bold-font-size: 24px;
  --text-style-display-xs-bold-letter-spacing: 0px;
  --text-style-display-xs-bold-line-height: 32px;
  --text-style-display-xs-bold-font-style: normal;
  --text-style-text-xs-regular-font-family: "Inter", Helvetica;
  --text-style-text-xs-regular-font-weight: 400;
  --text-style-text-xs-regular-font-size: 12px;
  --text-style-text-xs-regular-letter-spacing: 0px;
  --text-style-text-xs-regular-line-height: 18px;
  --text-style-text-xs-regular-font-style: normal;
  --text-style-text-xs-medium-font-family: "Inter", Helvetica;
  --text-style-text-xs-medium-font-weight: 500;
  --text-style-text-xs-medium-font-size: 12px;
  --text-style-text-xs-medium-letter-spacing: 0px;
  --text-style-text-xs-medium-line-height: 18px;
  --text-style-text-xs-medium-font-style: normal;
  --text-style-text-xs-semibold-font-family: "Inter", Helvetica;
  --text-style-text-xs-semibold-font-weight: 600;
  --text-style-text-xs-semibold-font-size: 10px;
  --text-style-text-xs-semibold-letter-spacing: 0px;
  --text-style-text-xs-semibold-line-height: 18px;
  --text-style-text-xs-semibold-font-style: normal;
  --text-style-text-xs-bold-font-family: "Inter", Helvetica;
  --text-style-text-xs-bold-font-weight: 700;
  --text-style-text-xs-bold-font-size: 12px;
  --text-style-text-xs-bold-letter-spacing: 0px;
  --text-style-text-xs-bold-line-height: 18px;
  --text-style-text-xs-bold-font-style: normal;
  --text-style-text-xs-text-xxl-regular-font-family: "Inter", Helvetica;
  --text-style-text-xs-text-xxl-regular-font-weight: 400;
  --text-style-text-xs-text-xxl-regular-font-size: 10px;
  --text-style-text-xs-text-xxl-regular-letter-spacing: 0px;
  --text-style-text-xs-text-xxl-regular-line-height: 18px;
  --text-style-text-xs-text-xxl-regular-font-style: normal;
  --new-style-display-bold-font-family: "Mona Sans", Helvetica;
  --new-style-display-bold-font-weight: 600;
  --new-style-display-bold-font-size: 96px;
  --new-style-display-bold-letter-spacing: -2.88px;
  --new-style-display-bold-line-height: 150%;
  --new-style-display-bold-font-style: normal;
  --new-style-display-3-medium-font-family: "Mona Sans", Helvetica;
  --new-style-display-3-medium-font-weight: 500;
  --new-style-display-3-medium-font-size: 64px;
  --new-style-display-3-medium-letter-spacing: -1.92px;
  --new-style-display-3-medium-line-height: 150%;
  --new-style-display-3-medium-font-style: normal;
  --new-style-title-1-bold-font-family: "Inter", Helvetica;
  --new-style-title-1-bold-font-weight: 700;
  --new-style-title-1-bold-font-size: 40px;
  --new-style-title-1-bold-letter-spacing: 0px;
  --new-style-title-1-bold-line-height: 150%;
  --new-style-title-1-bold-font-style: normal;
  --new-style-title-1-semibold-font-family: "Inter", Helvetica;
  --new-style-title-1-semibold-font-weight: 600;
  --new-style-title-1-semibold-font-size: 40px;
  --new-style-title-1-semibold-letter-spacing: 0px;
  --new-style-title-1-semibold-line-height: 150%;
  --new-style-title-1-semibold-font-style: normal;
  --new-style-title-1-medium-font-family: "Inter", Helvetica;
  --new-style-title-1-medium-font-weight: 500;
  --new-style-title-1-medium-font-size: 40px;
  --new-style-title-1-medium-letter-spacing: 0px;
  --new-style-title-1-medium-line-height: 150%;
  --new-style-title-1-medium-font-style: normal;
  --new-style-title-1-regular-font-family: "Inter", Helvetica;
  --new-style-title-1-regular-font-weight: 400;
  --new-style-title-1-regular-font-size: 40px;
  --new-style-title-1-regular-letter-spacing: 0px;
  --new-style-title-1-regular-line-height: 150%;
  --new-style-title-1-regular-font-style: normal;
  --new-style-title-2-bold-font-family: "Inter", Helvetica;
  --new-style-title-2-bold-font-weight: 700;
  --new-style-title-2-bold-font-size: 36px;
  --new-style-title-2-bold-letter-spacing: 0.36px;
  --new-style-title-2-bold-line-height: 150%;
  --new-style-title-2-bold-font-style: normal;
  --new-style-title-2-semibold-font-family: "Inter", Helvetica;
  --new-style-title-2-semibold-font-weight: 600;
  --new-style-title-2-semibold-font-size: 36px;
  --new-style-title-2-semibold-letter-spacing: 0.36px;
  --new-style-title-2-semibold-line-height: 150%;
  --new-style-title-2-semibold-font-style: normal;
  --new-style-title-2-medium-font-family: "Inter", Helvetica;
  --new-style-title-2-medium-font-weight: 500;
  --new-style-title-2-medium-font-size: 36px;
  --new-style-title-2-medium-letter-spacing: 0.36px;
  --new-style-title-2-medium-line-height: 150%;
  --new-style-title-2-medium-font-style: normal;
  --new-style-title-2-regular-font-family: "Inter", Helvetica;
  --new-style-title-2-regular-font-weight: 400;
  --new-style-title-2-regular-font-size: 36px;
  --new-style-title-2-regular-letter-spacing: 0.36px;
  --new-style-title-2-regular-line-height: 150%;
  --new-style-title-2-regular-font-style: normal;
  --new-style-title-3-bold-font-family: "Inter", Helvetica;
  --new-style-title-3-bold-font-weight: 700;
  --new-style-title-3-bold-font-size: 32px;
  --new-style-title-3-bold-letter-spacing: 0.32px;
  --new-style-title-3-bold-line-height: 150%;
  --new-style-title-3-bold-font-style: normal;
  --new-style-title-3-semibold-font-family: "Inter", Helvetica;
  --new-style-title-3-semibold-font-weight: 600;
  --new-style-title-3-semibold-font-size: 32px;
  --new-style-title-3-semibold-letter-spacing: 0.32px;
  --new-style-title-3-semibold-line-height: 150%;
  --new-style-title-3-semibold-font-style: normal;
  --new-style-title-3-medium-font-family: "Inter", Helvetica;
  --new-style-title-3-medium-font-weight: 500;
  --new-style-title-3-medium-font-size: 32px;
  --new-style-title-3-medium-letter-spacing: 0.32px;
  --new-style-title-3-medium-line-height: 150%;
  --new-style-title-3-medium-font-style: normal;
  --new-style-title-3-regular-font-family: "Inter", Helvetica;
  --new-style-title-3-regular-font-weight: 400;
  --new-style-title-3-regular-font-size: 32px;
  --new-style-title-3-regular-letter-spacing: 0.32px;
  --new-style-title-3-regular-line-height: 150%;
  --new-style-title-3-regular-font-style: normal;
  --new-style-heading-1-bold-font-family: "Inter", Helvetica;
  --new-style-heading-1-bold-font-weight: 700;
  --new-style-heading-1-bold-font-size: 24px;
  --new-style-heading-1-bold-letter-spacing: 0.24px;
  --new-style-heading-1-bold-line-height: 150%;
  --new-style-heading-1-bold-font-style: normal;
  --new-style-heading-1-semibold-font-family: "Inter", Helvetica;
  --new-style-heading-1-semibold-font-weight: 600;
  --new-style-heading-1-semibold-font-size: 24px;
  --new-style-heading-1-semibold-letter-spacing: 0.24px;
  --new-style-heading-1-semibold-line-height: 150%;
  --new-style-heading-1-semibold-font-style: normal;
  --new-style-heading-1-medium-font-family: "Inter", Helvetica;
  --new-style-heading-1-medium-font-weight: 500;
  --new-style-heading-1-medium-font-size: 24px;
  --new-style-heading-1-medium-letter-spacing: 0.24px;
  --new-style-heading-1-medium-line-height: 150%;
  --new-style-heading-1-medium-font-style: normal;
  --new-style-heading-1-regular-font-family: "Inter", Helvetica;
  --new-style-heading-1-regular-font-weight: 400;
  --new-style-heading-1-regular-font-size: 24px;
  --new-style-heading-1-regular-letter-spacing: 0.24px;
  --new-style-heading-1-regular-line-height: 150%;
  --new-style-heading-1-regular-font-style: normal;
  --new-style-heading-2-bold-font-family: "Inter", Helvetica;
  --new-style-heading-2-bold-font-weight: 700;
  --new-style-heading-2-bold-font-size: 20px;
  --new-style-heading-2-bold-letter-spacing: 0.2px;
  --new-style-heading-2-bold-line-height: 150%;
  --new-style-heading-2-bold-font-style: normal;
  --new-style-heading-2-semibold-font-family: "Inter", Helvetica;
  --new-style-heading-2-semibold-font-weight: 600;
  --new-style-heading-2-semibold-font-size: 20px;
  --new-style-heading-2-semibold-letter-spacing: 0.2px;
  --new-style-heading-2-semibold-line-height: 150%;
  --new-style-heading-2-semibold-font-style: normal;
  --new-style-heading-2-medium-font-family: "Inter", Helvetica;
  --new-style-heading-2-medium-font-weight: 500;
  --new-style-heading-2-medium-font-size: 20px;
  --new-style-heading-2-medium-letter-spacing: 0.2px;
  --new-style-heading-2-medium-line-height: 150%;
  --new-style-heading-2-medium-font-style: normal;
  --new-style-heading-2-regular-font-family: "Inter", Helvetica;
  --new-style-heading-2-regular-font-weight: 400;
  --new-style-heading-2-regular-font-size: 20px;
  --new-style-heading-2-regular-letter-spacing: 0.2px;
  --new-style-heading-2-regular-line-height: 24px;
  --new-style-heading-2-regular-font-style: normal;
  --new-style-heading-3-bold-font-family: "Inter", Helvetica;
  --new-style-heading-3-bold-font-weight: 700;
  --new-style-heading-3-bold-font-size: 18px;
  --new-style-heading-3-bold-letter-spacing: 0.18px;
  --new-style-heading-3-bold-line-height: 150%;
  --new-style-heading-3-bold-font-style: normal;
  --new-style-heading-3-semibold-font-family: "Inter", Helvetica;
  --new-style-heading-3-semibold-font-weight: 600;
  --new-style-heading-3-semibold-font-size: 18px;
  --new-style-heading-3-semibold-letter-spacing: 0.18px;
  --new-style-heading-3-semibold-line-height: 150%;
  --new-style-heading-3-semibold-font-style: normal;
  --new-style-heading-3-medium-font-family: "Inter", Helvetica;
  --new-style-heading-3-medium-font-weight: 500;
  --new-style-heading-3-medium-font-size: 18px;
  --new-style-heading-3-medium-letter-spacing: 0.18px;
  --new-style-heading-3-medium-line-height: 28px;
  --new-style-heading-3-medium-font-style: normal;
  --new-style-heading-3-regular-font-family: "Inter", Helvetica;
  --new-style-heading-3-regular-font-weight: 400;
  --new-style-heading-3-regular-font-size: 18px;
  --new-style-heading-3-regular-letter-spacing: 0.18px;
  --new-style-heading-3-regular-line-height: 150%;
  --new-style-heading-3-regular-font-style: normal;
  --new-style-body-bold-font-family: "Inter", Helvetica;
  --new-style-body-bold-font-weight: 700;
  --new-style-body-bold-font-size: 16px;
  --new-style-body-bold-letter-spacing: -0.16px;
  --new-style-body-bold-line-height: 150%;
  --new-style-body-bold-font-style: normal;
  --new-style-body-semibold-font-family: "Inter", Helvetica;
  --new-style-body-semibold-font-weight: 600;
  --new-style-body-semibold-font-size: 16px;
  --new-style-body-semibold-letter-spacing: -0.16px;
  --new-style-body-semibold-line-height: 150%;
  --new-style-body-semibold-font-style: normal;
  --new-style-body-medium-font-family: "Inter", Helvetica;
  --new-style-body-medium-font-weight: 500;
  --new-style-body-medium-font-size: 16px;
  --new-style-body-medium-letter-spacing: -0.16px;
  --new-style-body-medium-line-height: 150%;
  --new-style-body-medium-font-style: normal;
  --new-style-body-regular-font-family: "Inter", Helvetica;
  --new-style-body-regular-font-weight: 400;
  --new-style-body-regular-font-size: 16px;
  --new-style-body-regular-letter-spacing: -0.16px;
  --new-style-body-regular-line-height: 150%;
  --new-style-body-regular-font-style: normal;
  --new-style-body-light-font-family: "Inter", Helvetica;
  --new-style-body-light-font-weight: 300;
  --new-style-body-light-font-size: 16px;
  --new-style-body-light-letter-spacing: -0.16px;
  --new-style-body-light-line-height: 150%;
  --new-style-body-light-font-style: normal;
  --new-style-description-bold-font-family: "Inter", Helvetica;
  --new-style-description-bold-font-weight: 700;
  --new-style-description-bold-font-size: 14px;
  --new-style-description-bold-letter-spacing: -0.14px;
  --new-style-description-bold-line-height: 22px;
  --new-style-description-bold-font-style: normal;
  --new-style-description-semibold-font-family: "Inter", Helvetica;
  --new-style-description-semibold-font-weight: 600;
  --new-style-description-semibold-font-size: 14px;
  --new-style-description-semibold-letter-spacing: -0.14px;
  --new-style-description-semibold-line-height: 22px;
  --new-style-description-semibold-font-style: normal;
  --new-style-description-medium-font-family: "Inter", Helvetica;
  --new-style-description-medium-font-weight: 500;
  --new-style-description-medium-font-size: 14px;
  --new-style-description-medium-letter-spacing: -0.14px;
  --new-style-description-medium-line-height: 22px;
  --new-style-description-medium-font-style: normal;
  --new-style-description-regular-font-family: "Inter", Helvetica;
  --new-style-description-regular-font-weight: 400;
  --new-style-description-regular-font-size: 14px;
  --new-style-description-regular-letter-spacing: -0.14px;
  --new-style-description-regular-line-height: 22px;
  --new-style-description-regular-font-style: normal;
  --new-style-description-light-font-family: "Inter", Helvetica;
  --new-style-description-light-font-weight: 300;
  --new-style-description-light-font-size: 14px;
  --new-style-description-light-letter-spacing: -0.14px;
  --new-style-description-light-line-height: 22px;
  --new-style-description-light-font-style: normal;
  --new-style-caption-bold-font-family: "Inter", Helvetica;
  --new-style-caption-bold-font-weight: 700;
  --new-style-caption-bold-font-size: 12px;
  --new-style-caption-bold-letter-spacing: -0.12px;
  --new-style-caption-bold-line-height: 150%;
  --new-style-caption-bold-font-style: normal;
  --new-style-caption-semibold-font-family: "Inter", Helvetica;
  --new-style-caption-semibold-font-weight: 600;
  --new-style-caption-semibold-font-size: 12px;
  --new-style-caption-semibold-letter-spacing: -0.12px;
  --new-style-caption-semibold-line-height: 150%;
  --new-style-caption-semibold-font-style: normal;
  --new-style-caption-medium-font-family: "Inter", Helvetica;
  --new-style-caption-medium-font-weight: 500;
  --new-style-caption-medium-font-size: 12px;
  --new-style-caption-medium-letter-spacing: -0.12px;
  --new-style-caption-medium-line-height: 150%;
  --new-style-caption-medium-font-style: normal;
  --new-style-caption-regular-font-family: "Inter", Helvetica;
  --new-style-caption-regular-font-weight: 400;
  --new-style-caption-regular-font-size: 12px;
  --new-style-caption-regular-letter-spacing: -0.12px;
  --new-style-caption-regular-line-height: 150%;
  --new-style-caption-regular-font-style: normal;
  --dropbtn: 0px 2px 2px 0px rgba(145, 145, 145, 0.04);
  --ap: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px
    rgba(16, 24, 40, 0.08);
  --chat: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 17.399999618530273px
    -4px rgba(16, 24, 40, 0.2);
  --border-2: 2px;
  --border-4: 4px;
  --border-6: 6px;
  --border-8: 8px;
  --border-10: 10px;
  --border-12: 12px;
  --border-16: 16px;
  --border-20: 20px;
  --border-32: 32px;
  --border-64: 64px;
  --border-999: 999px;
  --colors-electric-violet-50: rgba(244, 244, 254, 1);
  --colors-electric-violet-100: rgba(237, 234, 253, 1);
  --colors-electric-violet-200: rgba(219, 216, 252, 1);
  --colors-electric-violet-300: rgba(193, 184, 250, 1);
  --colors-electric-violet-400: rgba(162, 144, 245, 1);
  --colors-electric-violet-500: rgba(132, 98, 240, 1);
  --colors-electric-violet-600: rgba(117, 69, 230, 1);
  --colors-electric-violet-700: rgba(99, 47, 210, 1);
  --colors-electric-violet-800: rgba(82, 39, 176, 1);
  --colors-electric-violet-900: rgba(69, 34, 144, 1);
  --colors-electric-violet-950: rgba(42, 20, 97, 1);
  --colors-neon-carrot-50: rgba(255, 247, 237, 1);
  --colors-neon-carrot-100: rgba(255, 238, 212, 1);
  --colors-neon-carrot-200: rgba(255, 216, 168, 1);
  --colors-neon-carrot-300: rgba(255, 188, 113, 1);
  --colors-neon-carrot-400: rgba(255, 144, 47, 1);
  --colors-neon-carrot-500: rgba(254, 118, 17, 1);
  --colors-neon-carrot-600: rgba(239, 91, 7, 1);
  --colors-neon-carrot-700: rgba(198, 66, 8, 1);
  --colors-neon-carrot-800: rgba(157, 53, 15, 1);
  --colors-neon-carrot-900: rgba(126, 46, 16, 1);
  --colors-neon-carrot-950: rgba(68, 20, 6, 1);
  --colors-star-dust-50: rgba(247, 247, 247, 1);
  --colors-star-dust-100: rgba(237, 237, 237, 1);
  --colors-star-dust-200: rgba(223, 223, 223, 1);
  --colors-star-dust-300: rgba(200, 200, 200, 1);
  --colors-star-dust-400: rgba(173, 173, 173, 1);
  --colors-star-dust-500: rgba(156, 156, 156, 1);
  --colors-star-dust-600: rgba(136, 136, 136, 1);
  --colors-star-dust-700: rgba(123, 123, 123, 1);
  --colors-star-dust-800: rgba(103, 103, 103, 1);
  --colors-star-dust-900: rgba(84, 84, 84, 1);
  --colors-star-dust-950: rgba(54, 54, 54, 1);
  --colors-apple-50: rgba(241, 252, 241, 1);
  --colors-apple-100: rgba(223, 249, 225, 1);
  --colors-apple-200: rgba(192, 242, 196, 1);
  --colors-apple-300: rgba(142, 231, 150, 1);
  --colors-apple-400: rgba(86, 210, 98, 1);
  --colors-apple-500: rgba(48, 187, 62, 1);
  --colors-apple-600: rgba(33, 152, 45, 1);
  --colors-apple-700: rgba(30, 119, 39, 1);
  --colors-apple-800: rgba(28, 95, 36, 1);
  --colors-apple-900: rgba(25, 78, 32, 1);
  --colors-apple-950: rgba(8, 43, 14, 1);
  --colors-picton-blue-50: rgba(239, 248, 255, 1);
  --colors-picton-blue-100: rgba(223, 240, 255, 1);
  --colors-picton-blue-200: rgba(184, 226, 255, 1);
  --colors-picton-blue-300: rgba(120, 203, 255, 1);
  --colors-picton-blue-400: rgba(46, 175, 255, 1);
  --colors-picton-blue-500: rgba(6, 150, 241, 1);
  --colors-picton-blue-600: rgba(0, 118, 206, 1);
  --colors-picton-blue-700: rgba(0, 94, 167, 1);
  --colors-picton-blue-800: rgba(2, 80, 138, 1);
  --colors-picton-blue-900: rgba(8, 67, 114, 1);
  --colors-picton-blue-950: rgba(6, 42, 75, 1);
  --colors-lavender-magenta-50: rgba(255, 244, 254, 1);
  --colors-lavender-magenta-100: rgba(255, 231, 253, 1);
  --colors-lavender-magenta-200: rgba(255, 206, 251, 1);
  --colors-lavender-magenta-300: rgba(255, 168, 245, 1);
  --colors-lavender-magenta-400: rgba(254, 118, 236, 1);
  --colors-lavender-magenta-500: rgba(246, 63, 221, 1);
  --colors-lavender-magenta-600: rgba(218, 31, 189, 1);
  --colors-lavender-magenta-700: rgba(181, 22, 153, 1);
  --colors-lavender-magenta-800: rgba(148, 20, 124, 1);
  --colors-lavender-magenta-900: rgba(121, 22, 101, 1);
  --colors-lavender-magenta-950: rgba(81, 1, 64, 1);
  --colors-cinnabar-50: rgba(255, 241, 241, 1);
  --colors-cinnabar-100: rgba(255, 224, 224, 1);
  --colors-cinnabar-200: rgba(255, 199, 199, 1);
  --colors-cinnabar-300: rgba(255, 159, 159, 1);
  --colors-cinnabar-400: rgba(255, 104, 104, 1);
  --colors-cinnabar-500: rgba(250, 57, 57, 1);
  --colors-cinnabar-600: rgba(233, 37, 37, 1);
  --colors-cinnabar-700: rgba(195, 18, 18, 1);
  --colors-cinnabar-800: rgba(161, 19, 19, 1);
  --colors-cinnabar-900: rgba(133, 23, 23, 1);
  --colors-cinnabar-950: rgba(73, 6, 6, 1);
  --colors-white-50: rgba(255, 255, 255, 1);
  --colors-white-100: rgba(239, 239, 239, 1);
  --colors-white-200: rgba(220, 220, 220, 1);
  --colors-white-300: rgba(189, 189, 189, 1);
  --colors-white-400: rgba(152, 152, 152, 1);
  --colors-white-500: rgba(124, 124, 124, 1);
  --colors-white-600: rgba(101, 101, 101, 1);
  --colors-white-700: rgba(82, 82, 82, 1);
  --colors-white-800: rgba(70, 70, 70, 1);
  --colors-white-900: rgba(61, 61, 61, 1);
  --colors-white-950: rgba(41, 41, 41, 1);
  --colors-black-50: rgba(246, 246, 246, 1);
  --colors-black-100: rgba(231, 231, 231, 1);
  --colors-black-200: rgba(209, 209, 209, 1);
  --colors-black-300: rgba(176, 176, 176, 1);
  --colors-black-400: rgba(136, 136, 136, 1);
  --colors-black-500: rgba(109, 109, 109, 1);
  --colors-black-600: rgba(93, 93, 93, 1);
  --colors-black-700: rgba(79, 79, 79, 1);
  --colors-black-800: rgba(69, 69, 69, 1);
  --colors-black-900: rgba(61, 61, 61, 1);
  --colors-black-950: rgba(0, 0, 0, 1);
  --tokens-text-text-primary: var(--colors-black-950);
  --tokens-text-text-second-400: var(--colors-black-400);
  --tokens-text-text-second-800: var(--colors-black-800);
  --tokens-text-text-band: var(--colors-black-950);
  --tokens-text-text-invert: rgba(246, 246, 246, 1);
  --tokens-text-text-purple: var(--colors-electric-violet-600);
  --tokens-text-text-orange: var(--colors-neon-carrot-600);
  --tokens-text-text-item: var(--colors-electric-violet-700);
  --tokens-surface-surface-primary: var(--colors-white-50);
  --tokens-surface-surface-secondary: var(--colors-white-500);
  --tokens-surface-surface-invert: var(--colors-black-950);
  --tokens-surface-surface-brand: var(--colors-electric-violet-500);
  --tokens-surface-surface-item: var(--colors-electric-violet-50);
  --tokens-surface-surface-item-blur: var(--colors-star-dust-100);
  --tokens-surface-surface-search-live: var(--colors-star-dust-50);
  --tokens-surface-surface-item-live: var(--colors-electric-violet-50);
  --tokens-surface-surface-color: var(--colors-electric-violet-100);
  --tokens-border-border-primary: var(--colors-star-dust-500);
  --tokens-border-border-second: var(--colors-star-dust-200);
  --tokens-color-bg-chat: rgba(255, 255, 255, 0.49);
  --tokens-navi: var(--colors-electric-violet-300);
  --admin-icon-1: rgba(102, 112, 133, 1);
  --admin-surface-surface: rgba(255, 255, 255, 1);
  --admin-text-icon: rgba(52, 64, 84, 1);
  --admin-text-title: rgba(16, 24, 40, 1);
  --admin-text-secondary: rgba(71, 84, 103, 1);
  --admin-text-green: rgba(23, 178, 106, 1);
  --admin-text-icon-content: rgba(102, 112, 133, 1);
  --admin-text-brand: var(--colors-electric-violet-700);
  --admin-icon-select: rgba(249, 250, 251, 1);
  --admin-stroke-stroke: rgba(208, 213, 221, 1);
  --3-spacing-spacing-md: var(--primitives-spacing-2-8px);
  --1-color-modes-colors-border-border-secondary: var(
    --primitives-colors-gray-light-mode-200
  );
  --primitives-spacing-2-8px: 8px;
  --primitives-colors-gray-light-mode-200: rgba(234, 236, 240, 1);
  --primitives-colors-gray-dark-mode-800: rgba(31, 36, 47, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-tokens-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-tokens-mode="light"] {
  --tokens-text-text-primary: var(--colors-black-950);
  --tokens-text-text-second-400: var(--colors-black-400);
  --tokens-text-text-second-800: var(--colors-black-800);
  --tokens-text-text-band: var(--colors-black-950);
  --tokens-text-text-invert: rgba(246, 246, 246, 1);
  --tokens-text-text-purple: var(--colors-electric-violet-600);
  --tokens-text-text-orange: var(--colors-neon-carrot-600);
  --tokens-text-text-item: var(--colors-electric-violet-700);
  --tokens-surface-surface-primary: var(--colors-white-50);
  --tokens-surface-surface-secondary: var(--colors-white-500);
  --tokens-surface-surface-invert: var(--colors-black-950);
  --tokens-surface-surface-item: var(--colors-electric-violet-50);
  --tokens-surface-surface-item-blur: var(--colors-star-dust-100);
  --tokens-surface-surface-search-live: var(--colors-star-dust-50);
  --tokens-surface-surface-item-live: var(--colors-electric-violet-50);
  --tokens-surface-surface-color: var(--colors-electric-violet-100);
  --tokens-border-border-second: var(--colors-star-dust-200);
  --tokens-color-bg-chat: rgba(255, 255, 255, 0.49);
  --tokens-navi: var(--colors-electric-violet-300);
}

[data-tokens-mode="dark"] {
  --tokens-text-text-primary: var(--colors-white-50);
  --tokens-text-text-second-400: var(--colors-white-200);
  --tokens-text-text-second-800: var(--colors-white-200);
  --tokens-text-text-band: var(--colors-white-50);
  --tokens-text-text-invert: var(--colors-black-950);
  --tokens-text-text-purple: var(--colors-electric-violet-300);
  --tokens-text-text-orange: var(--colors-neon-carrot-300);
  --tokens-text-text-item: var(--colors-electric-violet-200);
  --tokens-surface-surface-primary: var(--colors-black-950);
  --tokens-surface-surface-secondary: var(--colors-black-500);
  --tokens-surface-surface-invert: var(--colors-white-50);
  --tokens-surface-surface-item: var(--colors-electric-violet-900);
  --tokens-surface-surface-item-blur: var(--colors-star-dust-50);
  --tokens-surface-surface-search-live: var(--colors-star-dust-950);
  --tokens-surface-surface-item-live: var(--colors-electric-violet-950);
  --tokens-surface-surface-color: var(--colors-electric-violet-950);
  --tokens-border-border-second: var(--colors-star-dust-800);
  --tokens-color-bg-chat: rgba(255, 241, 253, 0.1);
  --tokens-navi: var(--colors-electric-violet-800);
}

[data-admin-mode="light"] {
  --admin-surface-surface: rgba(255, 255, 255, 1);
  --admin-text-icon: rgba(52, 64, 84, 1);
  --admin-text-title: rgba(16, 24, 40, 1);
  --admin-text-secondary: rgba(71, 84, 103, 1);
  --admin-text-green: rgba(23, 178, 106, 1);
  --admin-text-icon-content: rgba(102, 112, 133, 1);
  --admin-text-brand: var(--colors-electric-violet-700);
  --admin-icon-select: rgba(249, 250, 251, 1);
  --admin-stroke-stroke: rgba(208, 213, 221, 1);
}

[data-admin-mode="dark"] {
  --admin-surface-surface: rgba(12, 17, 29, 1);
  --admin-text-icon: rgba(206, 207, 210, 1);
  --admin-text-title: rgba(245, 245, 246, 1);
  --admin-text-secondary: rgba(148, 150, 156, 1);
  --admin-text-green: rgba(71, 205, 137, 1);
  --admin-text-icon-content: rgba(133, 136, 142, 1);
  --admin-text-brand: var(--colors-electric-violet-400);
  --admin-icon-select: rgba(31, 36, 47, 1);
  --admin-stroke-stroke: rgba(51, 55, 65, 1);
}

[data-1-color-modes-mode="light-mode"] {
  --1-color-modes-colors-border-border-secondary: var(
    --primitives-colors-gray-light-mode-200
  );
}

[data-1-color-modes-mode="dark-mode"] {
  --1-color-modes-colors-border-border-secondary: var(
    --primitives-colors-gray-dark-mode-800
  );
}
